# Python
__pycache__/
*.py[cod]
*.egg-info/

# Build output
dist/
build/
*.spec

# IDE
.vscode/
.idea/

# Config with sensitive data
config.json

# OS
Thumbs.db
.DS_Store

# Logs
*.log

_release.py
.json
.txt
.spec

.csv
.xlsx